.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: gray;
  display: block;
}

.control input {
  display: block;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid wheat;
  padding: 0.25rem;
}

.control input:focus {
  outline: 1px solid wheat;
}

.action {
  margin-top: 1.5rem;
}

.action button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background: wheat;
  color: black;
  border: 1px solid wheat;
  transition: all 300ms ease;
}

.action button:hover {
  background: transparent;
}