.form {
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: gray;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid wheat;
  padding: 0.25rem;
  width: 100%;
}

.control input:focus,
.control textarea:focus {
  outline: 1px solid wheat;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
 background: wheat;
  color: black;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  border: 1px solid wheat;
  font-weight: bold;
  transition: all 300ms ease;
}

.actions button:hover,
.actions button:active {
  background: transparent;
}