.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: gray;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  color: black;
  border-radius: 4px;
  border: 1px solid wheat;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.control input:focus {
  outline: 1px solid wheat;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: black;
  background: wheat;
  border: 1px solid wheat;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  transition: all 300ms ease;
}

.actions button:hover {
background: transparent;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #000000;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #000000;
}